
<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" 
    class="form-control text-center"
    style="font-size: 40px; height: 62px; border: 1px solid #000; background-color: #fff; border-right:none" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"
    style="padding:10px"
    ><i class="fa fa-search" style="font-size:40px"></i></button>
  </span>
</div>
