{% if (is_sandbox) %} 
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_is_sandbox }}</div>
{% endif %} 
<form action="{{ action }}" method="post">
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>